body {
    font-family: 'helvetica neue',helvetica,arial,sans-serif;
    font-size: 13px;
    line-height: 1.308em;
}
ul {
    list-style: none;
}
header {
    height: 80px;
    border-bottom: 1px solid #E2E2E6;
    background-color: #F1F1F1!important;
}
input,#submit {
    height: 48px;
    margin-top: 15px!important;
    z-index: 1;
    border-radius: 2px;
}
.container {
    display: flex;
    justify-content: space-between;
}
#search-field  {
    padding: 12px 30px 12px 10px;
    color: #333;
    border: 1px solid #CACACC;
    margin-right: -5px;
    font-size: 18px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    width: 500px;
}
#submit {
    background: url(https://s.yimg.com/pv/static/img/header_1x-1518478330077.min.png) no-repeat;
    padding: 12px 30px 9px 10px;
    border-bottom: 1px solid #4600bf;
    border-right: 1px solid #4600bf;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    border-radius: 0 2px 2px 0;
    margin-right: 12px;
    width: 80px;
    font-size: 0;
    z-index: 1;
    border: 0;
    background-position: center 10px;
    background-color: #542dfe;
    cursor: pointer;
    position: relative;
    -webkit-appearance: none;
    outline: none;
    vertical-align: bottom;
}
.logo-yahoo img {
    margin-top: 23px;
}
#icon-close {
    position: absolute;
    top: 16px;
    left: 551px;
    cursor: pointer;
    border: none;
    background-color: #FFF;
    padding: 6px;
    z-index: 2;
    width: 27px;
    font-size: 20px;
    color: transparent;
}
#icon-close:hover {
    color: #CACACC;
    cursor: pointer;
}
nav {
    height: 30px;
    width: 100%;
    margin-top: 16px;
    border-bottom: 1px solid #E2E2E6;
    position: fixed;
}
nav ul {
    margin-left: 54px;
    height: 1;

}
nav li {
    float: left;
    margin-right: 20px;
    height: 16;
    padding-bottom: 3px;
}
nav li a {
    color: #B4B4B7;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
}
nav li a:hover {
    text-decoration: none;
    color: #313050;
}
nav ul .active {
    color: #313050!important;
    border-bottom: 2px solid #313050!important;
}
nav ul .active a {
    color: #313050!important;
}
.more {
    background-color: white;
    border: none;
    margin-left: -13px;
    padding: 0;
    font-size: 17px;
    color: #B4B4B7;
}
main {
    height: 450px;
    position: relative;
    top: 46px;
}
.alternative {
    margin: 23px 0px 23px 97px;
}
.alternative span {
    color: #5F5F5F;
    font-size: 14px;
}
.alternative a {
    color: #000099;
    font-size: 14px;
}
.alternative a:hover {
    color: #000099;
}
.linksSite {
    margin-left: 92px;
    margin-right: 565px;
    font-size: 13px;
}
.linksSite h3 {
    margin: 0;
    padding: 0;
    margin-top: -20px!important;
}
.linksSite h3 a {
    font-size: 18px;
    color: #000099;
}
.linksSite h2 {
    color: #007542;
    line-height: 16px;
    font-size: 14px;
    margin: 0;
    padding: 0;
    margin-top: -4px;
}
.linksSite h2:after { 
    content: "⌄";
    font-size: 21px;
    color: #007542;
  }
.linksSite p {
    line-height: 16px;
    margin: 0;
    padding: 0;
}
.linksSite section {
    margin-bottom: 22px;
}